includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	level: 8
	paths:
		- src
		- tests
	checkMissingIterableValueType: false
	ignoreErrors:
		- '#Cannot access offset.*#'
